<footer>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h6>Chăm sóc khách hàng</h6>

                <div class="footer-col">
                    <a href="">Trợ giúp</a>
                    <a href="">Gilly shop mall</a>
                    <a href="">Hướng dẫn mua hàng</a>
                </div>
            </div>
            <div class="col-3">
                <h6>Chăm sóc khách hàng</h6>

                <div class="footer-col">
                    <a href="">Trợ giúp</a>
                    <a href="">Gilly shop mall</a>
                    <a href="">Hướng dẫn mua hàng</a>
                </div>
            </div>
            <div class="col-3">
                <h6>Chăm sóc khách hàng</h6>

                <div class="footer-col">
                    <a href="">Trợ giúp</a>
                    <a href="">Gilly shop mall</a>
                    <a href="">Hướng dẫn mua hàng</a>
                </div>
            </div>
            <div class="col-3">
                <h6>Chăm sóc khách hàng</h6>

                <div class="footer-col">
                    <a href="">Trợ giúp</a>
                    <a href="">Gilly shop mall</a>
                    <a href="">Hướng dẫn mua hàng</a>
                </div>
            </div>
        </div>
    </div>
</footer>